.div {
    position: absolute;
    width: 770px;
    height: 346px;
    left: 575px;
    right: 575px;
    top: 81px;
    bottom: 1573px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 200px;
    font-weight: 300;
    line-height: 242px;
    letter-spacing: 0%;
    text-align: center;
}

.div-0 {
    position: absolute;
    width: 770px;
    height: 346px;
    left: 575px;
    right: 575px;
    top: 81px;
    bottom: 1573px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 200px;
    font-weight: 300;
    line-height: 242px;
    letter-spacing: 0%;
    text-align: center;
}

.div-1 {
    position: absolute;
    width: 770px;
    height: 314px;
    left: 575px;
    right: 575px;
    top: 427px;
    bottom: 1259px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 96px;
    font-weight: 300;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: center;
}

.div-2 {
    position: absolute;
    width: 770px;
    height: 157px;
    left: 575px;
    right: 575px;
    top: 584px;
    bottom: 1259px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 96px;
    font-weight: 300;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: center;
}

.div-3 {
    position: absolute;
    width: 1500px;
    height: 314px;
    left: 341px;
    right: 341px;
    top: 741px;
    bottom: 945px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 96px;
    font-weight: 300;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: center;
}

.div-4 {
    position: absolute;
    width: 770px;
    height: 157px;
    left: 575px;
    right: 575px;
    top: 898px;
    bottom: 945px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 96px;
    font-weight: 300;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: center;
}

.div-5 {
    position: absolute;
    width: 1136px;
    height: 157px;
    left: 392px;
    right: 392px;
    top: 1055px;
    bottom: 788px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 96px;
    font-weight: 300;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: center;
}